<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.ulpgc.eite.clean.mvp.sample">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:name="es.ulpgc.eite.clean.mvp.sample.app.App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.category.CategoryView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.delete.DeleteView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.deleteProduct.DeleteProductView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.addParty.AddPartyView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.details.DetailView"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.product.ProductView"
            android:label="Parties Founded"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.addCategory.AddCategoryView"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>