<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.ulpgc.eite.clean.mvp.sample">
    <!--//Permisos necesarios para acceder a elementos de la camara , leer y escrubir en memoria externa y para poder usar el escaner el el movil-->
    <vies-permission android:name="android.permission.CAMERA"/>
    <vies-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <vies-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTER"></protected-broadcast>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:name="es.ulpgc.eite.clean.mvp.sample.app.App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.category.CategoryView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.delete.SearchView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.addParty.AddPartyView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.detail.DetailView"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.product.ProductView"
            android:label="Parties Founded"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="es.ulpgc.eite.clean.mvp.sample.addCategory.AddCategoryView"
            android:label="Detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>